/* --------------------------------- Full Body ---------------------------------*/
* {
  font-family: "Montserrat", sans-serif;
}

/*--------------------------------- Navbar Section ---------------------------------*/
.navbar button {
  margin: 0.7%;
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 40%;
}
nav ul li a {
  color: white !important;
  text-transform: uppercase;
  margin: 0px 15px 0px 15px;
}

nav ul li a:hover {
  color: #bce02b !important;
}

.active a {
  color: #bce02b !important;
}

.active a:hover {
  color: #ffffff !important;
}

/*--------------------------------- Banner Section ---------------------------------*/
.banner-contents {
  margin-top: 20%;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #bce02b !important;
}

/*--------------------------------- Content Section ---------------------------------*/
.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/423.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}
.line {
  border-bottom: 3px solid #fff;
  width: 250px;
}
.line:hover {
  border-bottom: 3px solid #bce02b;
}

/*--------------------------------- About Section ---------------------------------*/
.about {
  padding: 7% 0% 7% 0%;
}
.about-img {
  border-radius: 50px;
  height: 240px;
}

/*--------------------------------- Services Section ---------------------------------*/
.services {
  padding: 7% 0% 7% 0%;
}
.img-hover {
  position: relative;
  width: 50%;
}
.img-hover img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 12%;
  bottom: 0;
  left: 4%;
  right: 0;
  height: 89%;
  width: 92%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #bce02b;
}

.img-hover:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*--------------------------------- Blog Section ---------------------------------*/
.blogs {
  padding: 7% 0% 7% 0%;
}
.blogs h3 {
  color: #fff;
}
.blogs p {
  color: #fff;
}

/*--------------------------------- Contact Section ---------------------------------*/
.contact {
  padding: 7% 0% 7% 0%;
}
.contact ul {
  list-style: none;
  color: #fff;
}

/*--------------------------------- Footer Section ---------------------------------*/
.footer {
  background-color: black !important;
  margin: 0px !important;
  padding: 2% 0% 0.3% 0%;
}

/* --------------------------- Responsive Styles---------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner-contents {
    margin-top: 35%;
  }
  .about-img {
    position: relative;
    left: 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .banner-contents {
    margin-top: 35%;
  }
  .about-img {
    position: relative;
    left: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
